{% extends "base.html" %}

{% block content %}

    <form style="margin-top: 70px; margin-left: 90px;" action="" method="post">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <p>
            {{ form.title.label(style="font-size: 20px;") }}<br>
            {{ form.title(class="form-control", style="width: 80%;", type="string") }}<br>
        </p>
        <p>
            {{ form.text.label(style="font-size: 20px;") }}<br>
            {{ form.text(class="form-control", style="width: 80%;", type="string") }}<br>
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>

{% endblock %}